@model CryptoTrader.Model.ViewModel.SellBitCoinViewModel

@using (Html.BeginForm("Trade", "Trade", FormMethod.Post))
{
    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(a => a.SellTradeAmountBTC, "Bitcoin", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.EditorFor(a => a.SellTradeAmountBTC, new { htmlAttributes = new { @class = "form-control" ,id= "SellBTC" } })
            @Html.ValidationMessageFor(a => a.SellTradeAmountBTC, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.LabelFor(a => a.SellTradeAmountEuro, "Euro")
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.EditorFor(a => a.SellTradeAmountEuro, new { htmlAttributes = new { @class = "form-control",id="SellEuro" } })
            @Html.ValidationMessageFor(a => a.SellTradeAmountEuro, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" name="submit" class="btn btn-danger" value="Verkaufen" style="width:100%;">

}

<script type="text/javascript">
    $("#SellBTC").keyup(function () {
        $.ajax({
            url: "Trade/GetEuro",
            type: 'POST',
            data: {
                TradeAmountBTC: $("#SellBTC").val(),
            },
            success: function (data) {
                $("#SellEuro").val(data);
            }
        });
    });

    $("#SellEuro").keyup(function () {
        $.ajax({
            url: "Trade/GetBTC",
            type: 'POST',
            data: {
                TradeAmountBTC: $("#SellEuro").val()
            },
            success: function (data) {
                $("#SellBTC").val(data);
            }
        });
    });


</script>
