@model CryptoTrader.Model.ViewModel.TradeBitCoinViewModel
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Custom/CardBootStrap.css" rel="stylesheet" />
<link href="~/Content/Custom/TradeIndex.css" rel="stylesheet" />
<div class="container">
    <!--Chart-->
    <div class="row">
        @Html.Partial("~/Views/Trade/_ChartDiagramm.cshtml")
    </div>
    <!--EndChart-->
    <!--Cards-->
</div>
<div class="container">
    <div class="row">

        <!--Card for TradeBitCoin-->
        <div class="card col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="card-header">Handeln</div>
            <div class="card-body">
                @Html.Partial("~/Views/Trade/_Trade.cshtml")
            </div>
        </div>
        <!--EndCard-->
        <!--HistoryList-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 tableScroll ">
            <table class="table tableScroll" id="header-fixed">
                <thead>
                    <tr>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Datum</th>
                        <th>BitCoin</th>
                        <th>BitCoinKurs</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.HistoryList == null)
                    {
                    }
                    else
                    {
                        foreach (var item in Model.HistoryList)
                        {
                            <tr>
                                <td class="col-lg-2">@item.Person.firstName</td>
                                <td class="col-lg-2">@item.Person.lastName</td>
                                <td class="col-lg-6">@item.created</td>
                                <td class="col-lg-2">@item.amount</td>
                                <td class="col-lg-2">@item.Ticker.rate</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <!--EndHistoryList-->

    </div>
</div>





