<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    <link href="~/Content/Custom/DashBoard.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <!-- Überschrift -->
            <div class="navbar-header">
                @Html.ActionLink(" CryptoCoinCompany ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!--Benutzer-->
            <ul class="nav navbar-right top-nav">
                <li>@Html.ActionLink("Registrieren", "nix", "nix", new { data_toggle = "modal", data_target = "#RegisterDialog" })</li>
                <li>@Html.ActionLink("Login", "nix", "nix", new { data_toggle = "modal", data_target = "#Login" })</li>
            </ul>

        </nav>
    </div><!-- /#wrapper -->
    @Html.Partial("~/Views/Shared/_LoginDialog.cshtml")
    @Html.Partial("~/Views/Shared/_RegisterDialog.cshtml")
    @RenderBody()


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>
    toastr.options = {
    "closeButton": true,
    "debug": false,
    "positionClass": "toast-bottom-left",
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "3000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut",
    "width": "100%"
}
$(document).ready(function () {

    @if (TempData["ErrorMessage"] != null) {
        <text>toastr.error("", "@TempData["ErrorMessage"]").attr('style','width:500px');</text>
    }

    @if (TempData["ConfirmMessage"] != null) {
        <text>toastr.success("", "@TempData["ConfirmMessage"]").attr('style', 'width:100%');</text>
    }

});

</script>
