@model  CryptoTrader.Models.ViewModel.LoginViewModel

<script type="text/javascript">

</script>


<div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Log in</h4>
            </div>
            <div class="modal-body">
                @using( Html.BeginForm( "Login", "Login", FormMethod.Post ) )
                {

                    <div class="input-group">
                        @Html.LabelFor( a => a.LoginEmail, " ", new { @class = "input-group-addon glyphicon glyphicon-user" } )
                        @Html.EditorFor( a => a.LoginEmail, new { htmlAttributes = new { @class = "form-control" } } )
                        @Html.ValidationMessageFor(a => a.LoginEmail,"",new {@class = "text-danger" })
                    </div>

                    <div class="input-group">
                        @Html.LabelFor( a => a.LoginPassword, " ", new { @class = "input-group-addon glyphicon glyphicon-lock" } )
                        @Html.EditorFor( a => a.LoginPassword, new { htmlAttributes = new { @class = "form-control" } } )
                    </div>
                    @Html.ValidationMessageFor( a => a.LoginPassword, null, new { @class = "text-danger", } )

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Angemeldet bleiben
                        </label>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" class="form-control btn btn-primary" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

