@model  CryptoTrader.Models.ViewModel.RegisterViewModel



<div class="modal fade" id="RegisterDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content width-toRegister">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Registrieren</h4>
            </div>
            <div class="modal-body">
                @using( Html.BeginForm( "ToRegister", "Register", FormMethod.Post ) )
                {

                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor( a => a.FirstName, "Vorname", new { htmlAttributes = new { @class = "control-label" } } )
                            @Html.EditorFor( a => a.FirstName, new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.ValidationMessageFor( a => a.FirstName, null, new { @class = "text-danger", } )
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor( a => a.LastName, "Nachname", new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.EditorFor( a => a.LastName, new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.ValidationMessageFor( a => a.LastName, null, new { @class = "text-danger" } )
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor( a => a.RegisterEmail, "Email", new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.EditorFor( a => a.RegisterEmail, new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.ValidationMessageFor( a => a.RegisterEmail, null, new { @class = "text-danger" } )

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            @Html.LabelFor( a => a.RegisterPassword, "Password", new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.EditorFor( a => a.RegisterPassword, new { htmlAttributes = new { @class = "form-control" } } )
                            @Html.ValidationMessageFor( a => a.RegisterPassword, null, new { @class = "text-danger" } )
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-inline pull-right">
                                <li><button type="submit">Senden</button>
                            </ul>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

