<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meine ASP.NET-Anwendung</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/Custom/DashBoard.css" rel="stylesheet" />

</head>

<body>
    @{
        string firstName = "";
        if (Request.Cookies["firstName"] != null)
        {
            firstName = Request.Cookies["firstName"].Value;
        }

        string lastName = "";
        if (Request.Cookies["lastName"] != null)
        {
            lastName = Request.Cookies["lastName"].Value;
        }
    }
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Überschrift -->
            <div class="navbar-header">
                @Html.ActionLink(" CryptoCoinCompany", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!--Benutzer Dropdown-->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <span id="balance"></span>
                        <span class="glyphicon glyphicon-user">@lastName</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left small">@firstName  @lastName</p>
                                        <p class="text-left small">@User.Identity.Name</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "btn btn-danger btn-block" })
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>


            <!-- Sidebar Menu Items-->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">

                    <!--BitCoin Kurs-->
                    <li>
                        <a>
                            <i class="glyphicon glyphicon"></i>
                            <span class="my-span">BitCoin</span>
                        </a>
                        <ul id="MoneyTransfer">
                            <li><a>1 Bitcoin =<span id="rate"></span></a></li>
                        </ul>
                    </li>

                    <!--UserVerification-->
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-user"></i>
                            <span class="my-span">Verifiziren</span>
                        </a>
                        <ul>
                            <li>@Html.ActionLink("Verifiziren", "PersonVerification", "Register")</li>
                        </ul>
                    </li>

                    <!--MoneyTransfer-->
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-euro"></i>
                            <span class="my-span">Geld Transfer</span>
                        </a>
                        <ul>
                            <li>@Html.ActionLink("Geld einzahlen", "PayIn", "BankTransfer")</li>
                            <li>@Html.ActionLink("Geld auszahlen", "PayOut", "BankTransfer")</li>
                        </ul>
                    </li>

                    <!--Trade-->
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-euro"></i>
                            <span class="my-span">Handeln</span>
                        </a>
                        <ul>
                            <li>@Html.ActionLink("Bitcoin kaufen", "BuyBitcoin", "Trade")</li>
                            <li>@Html.ActionLink("Bitcoin verkaufen", "SellBitCoin", "Trade")</li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="glyphicon glyphicon-euro"></i>
                            <span class="my-span">Admin</span>
                        </a>
                        <ul>
                            <li>@Html.ActionLink("AdminBereich", "Index", "Admin")</li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div>
            <div class="container-fluid">
            </div>
        </div>
    </div><!-- /#wrapper -->

    <div class="container body-content">@RenderBody()</div>
    @RenderSection("scripts", required: false)

</body>
</html>
<script type="text/javascript">

        $(document).ready(function () {
            GetRate();
        });
        $(document).ready(function () {
            ShowBalance();
        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".side-nav .collapse").on("hide.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
            });
            $('.side-nav .collapse').on("show.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        })

        function ShowBalance() {
            console.log("ShowBalance");
            $.ajax({ url: "/BankTransfer/ShowBalance" }).done(function (response) {
                $("#balance").html(response);
            });
        }
        function GetRate() {
            $.ajax({ url: "/Ticker/ShowRate" })
                .done(function (response) {
                    console.log("GetRate")
                    var result = "";
                    var rate_old = ($("#rate").html());
                    var rate_current = (response);

                    $("#rate").html(rate_current);

                    if (rate_current > rate_old) {
                        result = ($(".rate").html("▲"));
                        $(".rate").css("color", "green");
                        $("#rate").css("color", "green");
                    }
                    else if (rate_current < rate_old) {
                        result = ($(".rate").html("▼"));
                        $(".rate").css("color", "red");
                        $("#rate").css("color", "red");
                    }
                    else if (rate_current == rate_old) {
                        result = ($(".rate").html("-"));
                        $(".rate").css("color", "goldenrod");
                        $("#rate").css("color", "goldenrod");
                    }

                    setTimeout(function () { GetRate(); }, 10000);
                });
        }

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-bottom-left",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
            "width":"100%"
        }
        $(document).ready(function () {

            @if (TempData["ErrorMessage"] != null)
            {
                <text>toastr.error("", "@TempData["ErrorMessage"]").attr('style','width:500px');</text>
            }

            @if (TempData["ConfirmMessage"] != null)
            {
                <text>toastr.success("", "@TempData["ConfirmMessage"]").attr('style', 'width:100%');</text>
            }

            });
</script>

