@model CryptoTrader.Models.ViewModel.BankDataViewModel
@{
    ViewBag.Title = "Index";
}

toastr.error(@ViewBag.Message)
<br />
<br />
<br />
<div class="container">
    <div class="row">

        <main class="col-lg-5 well" style="height:600px">
            <h2 style="position:center">Kontodaten</h2>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.BankName, "Bank")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.BankName, Model.BankName)
                </div>
            </div>

            <div class="row ">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.ZipBank, "Postleitzahl")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.ZipBank, Model.ZipBank)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Bic, "BIC")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Bic, Model.Bic)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Iban, "Kontonummer")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Iban, Model.Iban)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.FirstName, "Vorname")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.FirstName, Model.FirstName)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.LastName, "Nachname")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.LastName, Model.LastName)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Reference, "Verwendungszweck")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Reference, Model.Reference)
                </div>
            </div>
            <div class="row">
                <div></div>
                <div></div>
            </div>
        </main>
        <div class="col-lg-2">
            <hr noshade style="background-color: white; height: 550px; width: 3px;">

        </div>



        @using (Html.BeginForm())
        {
            <main class="col-lg-5 well" style="height:600px;">
                <h2>Geld auszahlen</h2>
                <br />
                <br />
                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.FirstName, "Vorname")
                    </div>
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.FirstName, Model.FirstName)
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.LastName, "Nachname")
                    </div>
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.LastName, Model.LastName)
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.PersonIban, "Iban")
                    </div>
                    <div class="col col-lg-6">
                        @if (Model.PersonIban == null)
                        {
                            @Html.EditorFor(a => a.PersonIban, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            @Html.LabelFor(a => a.PersonIban, Model.PersonIban)
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.PersonBic, "BIC")
                    </div>
                    <div class="col col-lg-6">
                        @if (Model.PersonBic == null)
                        {
                            @Html.EditorFor(a => a.PersonBic, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            @Html.LabelFor(a => a.PersonBic, Model.PersonBic)
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.Amount, "Betrag")
                    </div>
                    <div class="col col-lg-6">
                        @Html.EditorFor(a => a.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(a => a.Amount,"",new { htmlAttributes = new { @class = "text-danger" } })
                    </div>
                </div>

                <div class="row">
                    <div class="col col-lg-6">
                        @Html.LabelFor(a => a.Currency, "Währung")
                    </div>
                    <div class="col col-lg-6">
                        @if (Model.Currency == null)
                        {
                            @Html.EditorFor(a => a.Currency, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(a => a.Currency, "", new { htmlAttributes = new { @class = "text-danger" } })

                        }
                        else
                        {
                            @Html.LabelFor(a => a.Currency, Model.Currency)
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9"></div>
                    <div class="col-lg-2">
                        <button type="submit" class="ui-button-icon-only btn-success">Auszahlen</button>
                    </div>
                </div>


            </main>
        }
        
    </div>
</div>


