@model CryptoTrader.Model.ViewModel.PayInViewModel
@{
    ViewBag.Title = "PayIn";
}

<div class="container">
    <div class="row">
        <main class="col-lg-6 well">
            <h2>Kontodaten</h2>

            <br />

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.BankName, "Bank")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.BankName, Model.BankName)
                </div>
            </div>

            <div class="row ">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.ZipBank, "Postleitzahl")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.ZipBank, Model.ZipBank)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Bic, "BIC")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Bic, Model.Bic)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Iban, "Kontonummer")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Iban, Model.Iban)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.FirstName, "Vorname")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.FirstName, Model.FirstName)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.LastName, "Nachname")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.LastName, Model.LastName)
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Reference, "Verwendungszweck")
                </div>
                <div class="col col-lg-6">
                    @Html.LabelFor(a => a.Reference, Model.Reference)
                </div>
            </div>

        </main>

        <div class="col-lg-1"></div>

        <main class="col-lg-5 well">
            <div class="row"ö>
                <div class="col-lg-2">Vorname</div>
                <div class="col-lg-2">Nachname</div>
                <div class="col-lg-2">Betrag</div>
                <div class="col-lg-2">Währung</div>
                <div class="col-lg-2">Datum</div>
            </div>

            @foreach (var item in Model.BankHistoryList)
            {
                <div class="row">
                    <div class="col-lg-2">@item.Person.firstName</div>
                    <div class="col-lg-2">@item.Person.lastName</div>
                    <div class="col-lg-2">@item.amount</div>
                    <div class="col-lg-2">@item.currency</div>
                    <div class="col-lg-2">@item.created</div>
                </div>
            }
        </main>

    </div>
</div>



