@model CryptoTrader.Model.ViewModel.PersonVerificationViewModel

<link href="~/Content/Custom/UserVerification.css" rel="stylesheet" />
<script src="~/Scripts/Custom/PersonVerificationWizard.js"></script>

<div class="container">
    <div class="row">
        <section>
            <div class="wizard">

                <!--Navigation-->
                <div class="wizard-inner">
                    <div class="row">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist">


                            <li role="presentation" class="active">
                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-picture"></i>
                                    </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                                    <span class="round-tab">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <!--EndNavigation-->

                @using (Html.BeginForm("PersonVerification", "Register", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    <div class="tab-content">

                        <!--Step 1-->
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="step1">

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        @Html.LabelFor(a => a.CountryName, "Land", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.DropDownListFor(a => a.CountryName, Model.CountryList, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.CountryName, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        @Html.LabelFor(a => a.CityName, "Stadt", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.EditorFor(a => a.CityName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(a => a.CityName, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        @Html.LabelFor(a => a.Zip, "Postleitzahl", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.EditorFor(a => a.Zip, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(a => a.Zip, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        @Html.LabelFor(a => a.Street, "Adresse", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.EditorFor(a => a.Street, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(a => a.Street, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        @Html.LabelFor(a => a.Number, "Hausnummer", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.EditorFor(a => a.Number, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(a => a.Number, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" style="margin-top:10px" class="btn btn-primary next-step">Weiter</button></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <!--EndStep1-->

                        <!--Step2-->
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <div class="step2">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <h5><strong>Ausweis hochladen</strong></h5>
                                        @Html.TextBoxFor(m => m.Upload, new { type = "file", @id = "#imgShow", @onchange = "readURL(this);" })
                                    </div>
                                    <div class="col-lg-9">
                                        <img id="imgShow" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <ul class="list-inline pull-right">
                                        <li><button type="button" class="btn btn-default prev-step">Zurück</button></li>
                                        <li><button type="button" class="btn btn-primary btn-info-full next-step">Weiter</button></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                        <!--EndStep2-->




                        <div class="tab-pane" role="tabpanel" id="complete">
                            <div class="step3">
                                <h5>Completed</h5>
                                <input type="submit" />

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                }
            </div>
        </section>
    </div>
</div>